@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --joy-shadowRing: 0 0 0px rgba(0, 0, 0, 0);
  --joy-shadowChannel: 9, 107, 222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #F9FAFB;
  font-family: Arial, Helvetica, sans-serif;
}